{% extends 'base.html' %}
{% block title %}SiGO - Cadastro de Trabalhos{% endblock title %}
{% block card-title %}Cadastre{% endblock card-title %}

{% block content %}

{% block titlePagina %}<h1 class="mt-4">Cadastrar Trabalho</h1>{% endblock titlePagina %}
<div class="card" style="margin-top:20px;">

    <div class="card-body">
        <form method="post" class="form" autocomplete="off">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-lg-12 mb-3">
                    <label>Nome</label>
                    <input class="form-control" id="id_nome" name="nome"
                           type="text" value="{{request.POST.nome}}"
                           placeholder="Digite o nome do trabalho"
                           required>
                </div>
            </div>

            <!--<p>{{ user.id }}</p>-->
            <div class="form-row">
                <div class="form-group col-lg-12 mb-3">
                    <label for="id_descricao">Descricao</label>

                    <textarea class="form-control" name="descricao" cols="40" rows="10" id="id_descricao"
                              required> </textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6 mb-3">

                    <label for="id_data_inicio">Data inicio</label>
                    <input type="date" class="form-control" name="data_inicio" id="id_data_inicio">
                </div>

                <div class="form-group col-lg-6 mb-3">
                    <label for="id_data_entrega">Data entrega</label>
                    <input type="date" class="form-control" name="data_entrega" id="id_data_entrega">
                </div>
            </div>


            <div class="form-row">

                <div class="form-group col-lg-6 mb-3">
                    <label for="id_area">Area</label>
                    <select class="form-control" name="area" id="id_area">
                        <option value="" selected="">---------</option>
                        {% for area in areas %}
                        <option value="{{ area.id }}">{{ area.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-6 mb-3">
                    <label for="id_tipo">Tipo</label>
                    <select class="form-control" name="tipo" id="id_tipo">
                        <option value="" selected="">---------</option>
                        {% for tipo in tipos %}
                        <option value="{{ tipo.id }}">{{ tipo.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}
