{% extends 'base.html' %}
{% block title %}SiGO - Cadastro de Trabalhos{% endblock title %}

{% block content %}
{% if object_list %}
{% block titlePagina %}<h1 class="mt-4">Trabalhos</h1>{% endblock titlePagina %}

{% block card-title %}Lista de Trabalhos{% endblock card-title %}
{%for trabalho in object_list%}
<div class="card" style="margin-top:20px;">
    <div class="card-header">

        <div class="form-group row mb-0 mt-0">
            <div class="col-6">
                <h3>{{ trabalho.nome }}</h3>
            </div>
            <div class="col-6">
                <div class="btn-group float-right">
                    <a class="btn mr-6" style="color:black;" href="{%url 'trabalho_delete' trabalho.id%}">
                        <i class="fas fa-trash-alt" title="Excluir Trabalho"></i></a>
                </div>
                <div class="btn-group float-right">
                    <a class="btn mr-6" style="color:black;"
                       href="{%url 'trabalho_update' trabalho.id%}"><i class="fas fa-edit" title="Editar Trabalho"></i></a>
                </div>

                <div class="btn-group float-right">
                    <a class="btn mr-6" style="color:black;"
                       href="{%url 'trabalho_detalhe' trabalho.id%}"><i class="fas fa-eye"
                                                                        title="Detalhes do Trabalho"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ trabalho.descricao }}</p>
    </div>
    <div class="footer" style="margin: 20px;">

        <div class="btn-group">
            <a class="btn btn-success mr-3" style="color:#ffffff;"
               href="{%url 'tarefa_cadastrar' trabalho.token%}"><i class="fas fa-plus"></i> Tarefa</a>
        </div>

        <div class="btn-group">
            <a class="btn btn-success mr-3" style="color:#ffffff;"
               href="{%url 'tarefa_listar' trabalho.token%}"><i
                    class="fas fa-list-alt"></i> Tarefa(s)</a>

        </div>

    </div>
</div>
{% endfor %}
{% else %}
<h3 class="text-center">Você não possui trabalhos!</h3>

{% endif %}
{% endblock %}
