{% extends 'base.html' %}
{% block title %}SiGO - Cadastro de Trabalhos{% endblock title %}
{% block card-title %}Lista de Trabalhos{% endblock card-title %}

{% block content %}
<h1>Trabalhos</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Opções</th>
    </tr>
    </thead>
    <tbody>

    {%for trabalho in object_list%}

    <tr>
        <td scope="row"> {{ trabalho.nome }}</td>
        <td scope="row">{{ trabalho.descricao }}</td>
        <td scope="row">
            <div class="btn-group">
                <button type="button" class="btn btn-success"><a style="color:#ffffff;"
                                                                 href="{%url 'trabalho_update' trabalho.id%}">Editar</a>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger"><a style="color:#ffffff;" href="#modal{{trabalho.id}}"
                                                                data-toggle="modal">
                    Excluir</a></button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success"><a style="color:#ffffff;"
                                                                 href="{%url 'trabalho_detalhe' trabalho.id%}">Detalhe
                    do trabalho
                </a>
                </button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success"><a style="color:#ffffff;"
                                                                 href="{%url 'tarefa_cadastrar' trabalho.token%}">ADD
                    tarefa</a>
                </button>
            </div>
            </div>
        </td>
    </tr>
    <div class="modal fade bd-example-modal-lg show" id="modal{{trabalho.id}}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="dynamic-content">
                    {{trabalho.descricao}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary"><a style="color:#ffffff;"
                                                                     href="{%url 'trabalho_delete' trabalho.id%}">Excluir
                        trabalho</a></button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
