{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>SiGO - [Cadastro de usuario]</title>
    {% bootstrap_css %}

</head>
<body>
<div class="container">
    <h1>Registre-se</h1>
    {% bootstrap_messages %}
    <form method="post" class="form" autocomplete="off">
        {% csrf_token %}

        {% for field in form %}<br/>
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% endfor %}


        {% buttons %}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        {%endbuttons %}
    </form>
</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>
