{% extends 'cadastro-usuario.html' %}
{% block title %}SiGO - Recuperar Senha{% endblock title %}
{% block card-title %}Recuperar Senha{% endblock card-title %}
{% block login %}<a href="/accounts/login/">Cadastrar</a>{% endblock login %}

{% block content %}


<form method="post" class="form" action="{% url 'password-reset' %}">
    {% csrf_token %}

    <div class="form-row">

        <div class="form-group col-lg-12 mb-3">
            <label>E-mail</label>
            <input class="form-control"
                   id="email" name="email" type="email"
                   placeholder="Seu email" autocomplete="off" required>

        </div>

    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>


{% endblock %}






