{% extends 'base.html' %}
{% block title %}SiGO - Cadastro de Trabalhos{% endblock title %}

{% block content %}
{% if object_list %}
{%for trab in trabalho%}
{% block titlePagina %}<h1 class="mt-4">Lista de Tarefas - {{ trab.nome }}</h1>{% endblock titlePagina %}
{% endfor %}
{%for tarefa in object_list%}
<div class="card" style="margin-top:20px;">
    <div class="card-header">
        <h3>{{ tarefa.nome }}</h3>
    </div>
    <div class="card-body">
        <div class="form-group row mb-0 mt-0">
            <div class="col-6">
                <h3>{{ tarefa.descricao }}</h3>
            </div>
            <div class="col-6">
                <div class="btn-group float-right">
                    <a class="btn mr-6" style="color:black;" href="{%url 'tarefa_delete' tarefa.id%}">
                        <i class="fas fa-trash-alt" title="Excluir Tarefa"></i></a>
                </div>

                <div class="btn-group float-right">
                    <a class="btn mr-6" style="color:black;"
                       href="{%url 'tarefa_update' tarefa.id%}"><i class="fas fa-edit" title="Editar Tarefa"></i></a>
                </div>

                <div class="btn-group float-right">
                    <a class="btn mr-6" style="color:black;"
                       href="{%url 'tarefa_detalhe' tarefa.id%}"><i class="fas fa-eye"
                                                                    title="Detalhes do Tarefa"></i></a>
                </div>

            </div>

        </div>
        <div class="footer" style="margin: 20px;">


        </div>
    </div>
</div>
{% endfor %}
{% else %}

{%for trab in trabalho%}
<h3 class="text-center">Você não possui tarefas para o trabalhoi {{ trab.nome }}!</h3>
{% endfor %}
{% endif %}
{% endblock %}
