{% extends 'base.html' %}
{% block title %}SiGO - Atualizar Tarefa{% endblock title %}
{% block card-title %}Atualizar sua tarefa{% endblock card-title %}

{% block content %}

{% block titlePagina %}<h1 class="mt-4">Atualizar tarefa</h1>{% endblock titlePagina %}
<div class="card" style="margin-top:20px;">
    <div class="card-body">
        <form method="post" class="form" autocomplete="off">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-lg-12 mb-3">
                    <label>Nome</label>
                    <input class="form-control" id="id_nome" name="nome"
                           type="text" value="{{ form.nome.value }}"
                           placeholder="Digite o nome tarefa"
                           required>
                </div>
            </div>

            <!--<p>{{ user.id }}</p>-->
            <div class="form-row">
                <div class="form-group col-lg-12 mb-3">
                    <label for="id_descricao">Descricao</label>

                    <textarea class="form-control" name="descricao" cols="40" rows="10" id="id_descricao"
                              value="{{ form.descricao.value }}" required>{{ form.descricao.value }} </textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-lg-6 mb-3">

                    <label for="id_data_realizacao">Data realização</label>
                    <input type="date" class="form-control" name="data_realizacao" id="id_data_realizacao"
                           value="{{ form.ata_realizacao.value|date:'Y-m-d'}}">
                </div>

                <div class="form-group col-lg-6 mb-3">
                    <label for="id_tipo_tarefa">Tipo tarefa</label>
                    <select class="form-control" name="tipo_tarefa" id="id_tipo_tarefa">
                        <option value="" selected="">---------</option>
                        {% for field in form.tipo_tarefa %}
                        <tr>
                            <td>{{field}}</td>
                        </tr>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}
